<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <title>{{country}}</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
    </head>

    <body>

        <div class="navbar">
            <nav>
                <p><img src="../static/globe.png" width=48 alt="globe icon"></p>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Browse Countries <img src="../static/dropdown.png" width="8" alt="dropdown icon"></a>
                        <div class="dropdown">
                            <ul>
                                {% for x in countries %}
                                    <li><a href="/{{x}}">{{x}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                    <li><a href="/about">About</a></li>
                </ul>
            </nav>
        </div>

        <div class="content">
            <h1>
                <img
                src="https://flagcdn.com/w40/{{flag}}.png"
                srcset="https://flagcdn.com/w80/{{flag}}.png 2x"
                width="40"
                alt="{{country}}"> {{country}}
            </h1>

            <br>
    
            <h3>
                <img 
                src="../static/wiki.png" width="24" alt="Wikipedia icon">
                About {{country}}:</h3>
            <p>{{wiki}}</p>

            <br>

            <h3>
                <img src="../static/reddit.png" width="24" alt="Reddit icon">
                All-time top posts in r/{{sub}}:</h3>
            <ol>
                {% for key, val in posts.items() %}
                    <li><a href="{{val}}">{{key}}</a></li>
                {% endfor %}
            </ol>
    
            <br>

            <h3><img src="../static/money.png" width="24" alt="Money icon"> Currency:</h3>
            <p>National currency: {{currency}}</p>
            <p>1 {{currency}} = {{conv_rate}}</p>
        </div>
        
    </body>
</html>